@model SAP.ViewModels.Orders.OrderViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order details</h1>

<div>
    <h4>@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Model.CreateDate.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            Total Price
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceWithDiscount)
        </dd>
    </dl>
    <div class="row">
        <div class="col">
            @foreach (var item in Model.OrderItems)
            {
                <div class="row">
                    <div class="col-3">
                        <img src="@item.Item.PictureUrl" />
                    </div>
                    <div class="col-9">
                        <dl class="row">
                            <dt class="col-3">
                                Name
                            </dt>
                            <dd class="col-9">
                                @item.Item.Name
                            </dd>
                        </dl>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to Orders list</a>
</div>
